body {
  background-image: url(../burgers-background.jpg);
  background-repeat: none;
  background-size: cover;
  background-size: 100%;
}
h1 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 320% !important;
  margin-bottom: 80px;
}
h2 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
#ca {
  height: 29px;
  border: none;
  border-radius: 5px;
}

.burger-name {
  font-family: Montserrat;
  float: left;
  margin: 0;
}
/* ------------BURGER/EATEN BURGER SECTION------------- */
.column {
  margin-top: 70px;
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

li {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  /* margin: 5px; */
  width: 350px;
  height: 20px;
  border-radius: 5px;
  background: rgba(243, 240, 240, 0.2);
}

ul {
  list-style-type: none;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
/* ------------BUTTON SECTION------------- */
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  width: 400px;
  margin: auto;
  /* float: left; */
}

.submit {
  float: right;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 6px;
  border: black solid 2px;
  color: black;
  font-weight: bold;
  padding: 7px;
}
.devour,
.delete-burger {
  margin-top: -6.5px;
  /* background-color: rgb(60, 199, 201); */
  background-color: transparent;
  border-radius: 6px;
  border: black solid 2px;
  color: black;
  font-weight: bold;
  padding: 7px;
  float: right;
}
.submit:hover,
.delete-burger:hover,
.devour:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: ease-in;
}
